@charset "UTF-8";
ul a {
  color: grey;
  text-decoration: none;
}
.pull-right a, footer .inspired {
  color: grey;
}
ul a:hover {
  color: #333;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Georgia", Serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
h1, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
}
h1 small, h3 small {
  font-weight: normal;
  line-height: 1;
  color: #eee;
}
h1, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small, h3 small {
    font-size: 50%;
}
h1 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
.bottom-30 {
  margin-bottom: 30px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row:before, .row:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.row:after, .container:after, .container-fluid:after {
  clear: both;
}
kbd {
  padding: 2px 4px;
  font-family: "Inconsolata", Consolas, monospace;
  font-size: 90%;
  font-weight: bold;
  color: #000;
  background-color: #eee;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.well {
  min-height: 20px;
  padding: 15px;
  margin: 20px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.black {
  color: #333;
}
.orange {
  background: #ff5722;
}
.white {
  color: #ffffff;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.button {
  border: 1px solid #e3e3e3;
  color: #000;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  background: #f5f5f5;
  line-height: 36px;
  transition: all .1s ease; 
}
.button:hover {
  background: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.button:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul li {
  display: inline-block;
  list-style: none;
}
ul li.content {
  border-bottom: 1px dashed #e0e0e0;
  list-style-type: none;
  padding: 7px 0;
}
ul.head-content {
  margin: 20px 0 0;
  margin-left: 0;
  text-align: center;
}
ul ul {
  margin-bottom: 0;
}
.pull-right {
  float: right !important;
}
.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-left: 0;
  text-align: right;
}
.bottom-30 {
  margin-bottom: 30px;
}
.col-md-4, .col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-md-4, .col-md-6 {
  float: left;
}
.header {
  color: #ffffff;
  margin: 32px;
}
.footer {
  color: #847171;
}
footer {
  margin: 30px;
}
@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
}